.product{
    display: flex;
}
.product-name{
    color: blue;
    border-bottom: 2px solid lightgray;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-bottom: 5px;
}
.product-details{
    border-bottom: 10px;
    margin-bottom: 30px;
}
.main-button{
    background-color: goldenrod;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: 1px solid darkgray;
    cursor: pointer;
    
}